body {
    background-color: purple;
}

.section-1 {
    background-color: aqua;
}

.section-2 {
    background-color: rgb(31, 226, 31);
}

footer {
    font-size: large;
    background-color: rgb(224, 81, 153);
}